header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 14rem;
  @include breakpoint(medium) {
    margin-bottom: 7rem;
  }
  .logo {
    width: 25rem;
    @include breakpoint(medium) {
      width: 20rem;
      padding-right: 2rem;
    }
  }

  .headerBtn a {
    border-radius: 5rem;
    border: 1px solid #ff52bf;
    color: $Pink;
    padding: 0.6rem 2.5rem;
    box-shadow: 0px 8px 15px rgba(255, 82, 192, 0.096);
    @include breakpoint(medium) {
      padding: 0.3rem 1.5rem;
      font-size: 1.5rem;
    }
  }
}
